nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}
p {padding: 0;
   margin: 1rem;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2);
    padding: 1rem;
    background-color: white;
    color: #333;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 32px;
    left: 100px;
}
main img {
    /* Floating the image to the right*/
    float: right;
}
footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box { 
    /* Class selectors */
    margin: 1rem;
    border: 1rem solid rgb(0 0 0 /.1);
    padding: 2rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding:2rem;
}
